{% extends ':layout:layoutAdmin.html.twig' %}

{% block body %}

    {{ dump(utilisateurs) }}
    <h1>Utilisateurs liste</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Disponible</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.username }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>
                    {% if utilisateur.adresses|length != 0 %}
                        <a href="{{ path('adminAdressesUtilisateurs', { 'id': utilisateur.id }) }}" title="Consulter les adresses"><i class="icon-refresh"></i></a>
                    {% endif %}
                    {% if utilisateur.commandes|length != 0 %}
                        <a href="{{ path('adminFacturesUtilisateurs', { 'id': utilisateur.id }) }}" title="Consulter les factures"><i class="icon-edit"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
